.list.edit{data: {id: @list.id}}
  %h2= @list.name
  .description= @list.description

  .uk-panel.uk-panel-box.uk-margin.uk-width-1-1
    = form_for @list do |f|
      = f.text_field :name, class: "uk-with-1-10", placeholder: "Name"
      = f.text_field :description, class: 'uk-width-5-10', placeholder: "Description"
      = f.text_field :incoming_message_email, class: 'uk-width-2-10', placeholder: "Contact Email"
      = f.submit "Update", class: "btn primary uk-width-1-10"
  .uk-grid
    .uk-width-medium-1-2
      .uk-panel.uk-panel-box.uk-margin
        .uk-panel-title Add Person
        %hr
        = form_for [@list, @membership], format: :json, remote: true do |f|
          .errors
          = f.hidden_field :list_id, value: @list.id
          = f.fields_for :person do |f|
            .row
              = f.text_field :email, placeholder: "Email", autofocus: true, class: 'uk-width-2-5'
              = f.text_field :name, placeholder: "Name", class: 'uk-width-2-5'
          = f.fields_for :notes do |f|
            .row
              %div
                = f.text_area :content, placeholder: "Enter notes about this person here", class: "uk-width-1-1", rows: 6
          %hr
          .row
            = f.submit "Add Person"
            = f.button "Clear", type: :reset
    .uk-width-medium-1-2.uk-hidden.person-detail
      .uk-panel.uk-panel-box.uk-margin
        .uk-panel-title
          Detail
          %a.uk-close.uk-panel-badge(href='#')
        %hr
        .body
          .scrollable
            %h3 Notes
            %ul.uk-list-line.uk-list.notes
            %h3 Meta Data
            %dl.uk-description-list-horizontal.meta_data

  - if @list.memberships.count > 0
    %h3 People in List
    %hr
    %table.people
      %tr
        %th.name Name
        %th.email Email
        %th.actions Actions
      %tr.uk-hidden.template
        %td.name
        %td.email
        %td.actions
          = link_to "", edit_person_path(Person.new(id: 0)), class: 'person-edit', title: "Edit"
          = link_to "", list_membership_path(@list, Membership.new(id: 0), format: :json), method: :delete, class: 'membership-delete', title: "Delete"
      - @list.memberships.each do |membership|
        %tr{data: {id: membership.id }}
          %td.name= membership.name
          %td.email= membership.email
          %td.actions
            = link_to "", edit_person_path(membership.person), class: 'person-edit', title: "Edit"
            = link_to "", list_membership_path(@list, membership, format: :json), method: :delete, class: 'membership-delete', title: "Delete"

  = link_to "Done", list_path(@list), class: "btn primary done"
