!!!
%html
  %head
    %title List Builder
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .spacer
      .base-container
        .uk-vertical-align-middle.uk-width-1-2
          %h1 List Builder
    .base-container
      .flash
        - flash.each do |name, msg|
          %div{ class: name, data: { 'uk-alert' => true }}
            %a.uk-alert-close.uk-close{href: ""}
            %p= msg
      = yield
      - if user_signed_in?
        %hr
        %nav.uk-navbar
          %ul.uk-navbar-nav
            %li
              .uk-navbar-content
                Signed in as
                = image_tag avatar_url(current_user, 16)
                = current_user.email
          .uk-navbar-flip
            %ul.uk-navbar-nav
              %li
                = link_to destroy_user_session_path, class: 'btn' do
                  Log out
              %li
                = link_to lists_path, class: 'btn' do
                  My Lists
    .spacer
      .base-container
        .uk-vertical-align-middle.uk-width-1-2
          &copy; 2015 Radial Development Group LLC
